.body {
  background-image: url(./utilities/CONTACTO.png);
  background-size: cover;
  height: 100vh;

  /* height: 100%; */
}
li{
  
}
.logo img {
  height: 5rem;
  border-radius: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 25vh;
}

.list{
  display: flex;
}
container
logo
list
top
bottom
hero
btn
footer
nav
credits
name
name
name