body{
  height: 133vh;
  background-color: #c0c9d8;
}

section{
  background-color: transparent;
}
.header-container{
  background-image: none;
  background-color: #22242B;
}
.formulario_web {
     width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    background-size: cover;
    background-color: #ffffffb8;
      padding: 0.25em;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
  }

  .formulario_web h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
#areaTexto {
    height: 200px;
    width: 100%;
    resize: none;
}

.errorMensaje{
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

main{
    margin: 0px;
    padding: 0px;
    height: auto;
    background-color: #c0c9d8;
 }

 .inst_iconos li{
    margin: 20px;
 }

 .contacto{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
 }

.contacto li{
    margin: 10px;
}