.header-nosotros{
    height: auto;
    background-color: #22242B;
    text-align: center;
    color: #f8f1f1;
  }
  main{
    background-color:#f8f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
gap: 2rem;
    padding:7rem;
    padding-bottom: 9.5rem;
  }
  main h1{
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-style: normal;
  }
  main h3{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 40rem;
    margin-bottom: 4rem;
  }
  .faces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .cara-1{
    background-image: url(../utilities/cara.jpeg);
    background-size: 5rem;
    border-radius: 50px;
  }
  .cara-2{
    background-image: url(../utilities/cara_2.jpg);
    background-size: 5rem;
    border-radius: 50px;
  }
  .face h2{
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .cara-3{
    background-image: url(../utilities/cara_3.jpg);
    background-size: 5rem;
    border-radius: 50px;
  }
  .face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros-img{
    background-image: url(../utilities/webp/nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30;
   }