.header-nosotros{
    height: auto;
    background-color: #22242B;
    text-align: center;
    color: #f8f1f1;
  }
  main{
    background-color:#f8f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12rem;
    padding:5vw;
    padding-bottom: 3vw;
    height: 83.3vh;
    
  }
  main h1{
    margin-bottom: 0.5vw;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-style: normal;
  }
  main h3{
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
    font-style: normal;
    max-width: 50vw;
    font-weight: 400;
    margin-bottom: 4.6rem;
  }
  .faces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }

.faces img{
  width: 7.5vw;
  height: 7.5vw;
}

  .cara-1{
    background-image: url(../utilities/cara.jpeg);
    background-size: 7.5vw;
    border-radius: 7.5vw;
  }
  .cara-2{
    background-image: url(../utilities/cara_2.jpg);
    background-size: 7.5vw;
    border-radius: 7.5vw;
  }
  .face h2{
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    
  }
  .cara-3{
    background-image: url(../utilities/cara_3.jpg);
    background-size: 7.5vw;
    border-radius: 7.5vw;
  }
  .face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros-img{
    background-image: url(../utilities/webp/nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 30px;
   }

   @media (max-width: 3400px) {
    main {
      display: flex;
      flex-direction: column-reverse;
      gap: 4rem;

      height: 106vh;
  }
  .nosotros-img {
    background-size: contain;
    border-radius: 30px;
    width: 90vw;
    height: -webkit-fill-available;
}
.main .paragraph{
  margin-top: 3rem;
}
main h3 {
  font-size: 4rem;
  max-width: 100vw;
padding: 4rem 0 3rem 0;
}
main h1 {
  font-size: 4vw;
 
}
  }

   @media (max-width: 2000px) {
    main {
      gap: 4rem;
      height: 100vh;
  }


.faces {
  gap: 10vw;
}
main h1 {
  margin-bottom: 0.5vw;
  font-size: 7vw;
  margin: 4rem 0 5rem 0;
 
}
    .nosotros-img {
 
      border-radius: 30px;
      width: 90vw;
      height: -webkit-fill-available;
  }

   }

   @media (max-width: 1700px) {
    .nosotros-img{
      background-size: contain;
    }
   }