.recomendations-main{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    align-items: center;
}
.recomendations-main h1{
    font-size: 2vw;
}


.paragraph {
    display: flex;
    flex-direction: row;
    background-color: #f8f1f1;
    gap: 5rem;
}
.paragraph h3 {
    padding-left: 0.4vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;
    margin-top: 1rem;
}
main{
    width: 100%;
gap: 2rem;
}

main h1{
    margin-bottom: 0vw;
}

main h3{
    margin-bottom: 0.5vw;
}

section{
    justify-items: center;
}

p{

    padding-left: 0.8vw;
    margin-right: 0.8vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
}

.destino p, .destino-2 p, .destino-3 p, .destino-4 p {
    width: 83%;
    font-size: 1rem;
}

.destino img , .destino-2 img , .destino-3 img , .destino-4 img{
    width: 16vw;
}

@media (max-width: 1400px) {
    .recomendations-main h1 {
        font-size: 3rem;

    }
    .recomendations-main{
        height: auto;
    }
  .paragraph{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 5rem 
}
}
@media (max-width: 800px) {
    .paragraph{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 5rem;
}
.destino img, .destino-2 img, .destino-3 img, .destino-4 img {
    width: 66%;

}
.recomendations-main h1 {
    font-size: 2rem;
}
}
